.postpage {
    width: 70%;
    margin: 0 auto;
}

.post__text {
    font-size: 2rem;
    padding: 0 15px;
    margin-bottom: 30px;
}

.post__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post__comm {
    color: black;
    font-size: 3rem;
    margin-bottom: 20px;
}

.post__title {
    font-size: 2.7rem;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    color:teal;
}