.input {
    min-width: 150px;
    height: 2.4rem;
    padding: 0 0.5rem;
    border: 1px solid teal;
    color: teal;
    font-size: 1.4rem;
    background: transparent;
    cursor: pointer;
    font-family: Arial sans-serif;
    font-weight: 300;
}