.modalBlock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
}

.modalContent {
    padding: 30px;
    background-color: white;
    border-radius: 2px;
    border: 2px solid black;
    min-width: 500px;
}

@media (max-width: 600px) {
    .modalContent {
        min-width: 150px;
    }
}

.modalBlock.active {
    display: flex;
    justify-content: center;
    align-items: center;
}