.ovtodo-item {
    display: flex;
    border: 1px solid teal;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin-bottom: 15px;

    position: relative;
}


@media (min-width: 800px) {
    .ovtodo-item::before {
    content: attr(data-title);
    position: absolute;
    z-index: 2;
    background: teal;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    padding: 5px 15px;
    border-radius: 10px;
    left: 60%;
    max-width: 280px;
    top: 60%;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
    }
    .ovtodo-item:hover::before {
        opacity: 1;
    }
}
.ovtodo-item *:not(:last-child) {
    margin-right: 5px;
}

.ovtodo-item__text {
    width: 80%;
    font-size: 1.2rem;
}

.ovtodo-item__time {
    width: 20%;
    border: 1px solid teal;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 70%;
}

@media (max-width: 998px) {
    .ovtodo-item__text {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ovtodo-item__time {
        width: 30%;
    }
}

